.jstb_wiki_unc  {
  /* https://www.iconfinder.com/icons/3937335/chain_hyperlink_internet_link_linked_icon */
  background-image: url('../images/bt_wiki_unc.png');
}
span.path_unc {
  font-size: 0;
}

span.path_unc_outer a.path_unc.icon {
  display: none;
  margin: 0 2px;
}

span.path_unc_outer:hover a.path_unc.icon {
  display: inline-block !important;
}

#js-redmine-wiki-unc-regenerate-link-title {
  margin: 0 0.3em;
  cursor: pointer;
}
