.jstb_wiki_unc  {
  /* https://www.iconfinder.com/icons/3937335/chain_hyperlink_internet_link_linked_icon */
  background-image: url('../images/bt_wiki_unc.png');
}

span.path_unc_outer button.path_unc.icon {
  display: none;
  margin: 0 2px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

span.path_unc_outer:hover button.path_unc.icon {
  display: inline-block !important;
}

span.path_unc_outer a {
  display: inline !important;
}

#js-redmine-wiki-unc-regenerate-link-title {
  margin: 0 0.3em;
  cursor: pointer;
}

.full_unc_path_for_email {
  display: none;
}
